.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.palito {
    background-color: black;
    height: 140px;
    width: 30px;
}

.cajaLuces {
    background-color: black;
    padding: 15px;
    padding-top: 35px;
    border-radius: 20px;
    width: 190px;
    height: 450px;
}

.luces {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px auto;
    cursor: pointer;
    opacity: 0.5;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.glow {
    opacity: 1;
    box-shadow: 0 0 25px 10px white;
}